.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
#*.gz
*.bz2
*.lzma
*.xz
*.lz4
*.lzo
*.patch
*.gcno
*.symvers
*.orig
*~
\#*#
mysql/data/
apache-php/logs/
apache-php/certs/
webroot/localhost/
webroot/*.com/
webroot/vendor/

#
# ctags and cscope files
#
tags
TAGS
cscope.*
ncscope.*

#
# files that we don't want to ignore even it they are dot-files
#
!.gitignore
!.mailmap

